{% extends 'base.html' %} 

{% block content %}
<div class="tasks-wrapper">
    <h2>My Tasks</h2>

    {% if tasks %}
        <ul class="task-lists">
        {% for task in tasks %}
            {% if task.complete %}
            <li class="task-complete">
                <p class="line-sthrough">
                    <strong>{{ task.title }}</strong>
                </p>

                <a class="btn btn-primary" href="{% url 'task' task.id %}">View</a>
                <a class="btn btn-warning" href="{% url 'edit' task.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete' task.id %}">Delete</a>
            </li>
            {% else %}
            <li class="task-incomplete">
                <p>
                    <strong>{{ task.title }}</strong>
                </p>

                <a class="btn btn-primary" href="{% url 'task' task.id %}">View</a>
                <a class="btn btn-warning" href="{% url 'edit' task.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete' task.id %}">Delete</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% else %}
        <p>No task yet! Try adding something.</p>
    {% endif %} 
</div>

{% endblock %}
