{% extends 'base.html' %}

{% load static %}

{% block title %}Checkout - Django Shop {% endblock %}

{% block content %}

{% include 'includes/header.html'%}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h4>Shipping Address</h4>
            <form action="" method="post" class="shipping-form">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary mt-3">Continue</button>
            </form>
        </div>
        <div class="col-md-6">
            {% if items %}
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in items %}
                  <tr>
                    <td>{{ item.product.title }}</td>
                    <td>$ {{ item.product.discount_price }}</td>
                    <td>
                        <button class="btn btn-primary cart-btn" data-id="{{ item.product.id }}" data-action="decrement">-</button>
                        <strong>{{ item.quantity }}</strong>
                        <button class="btn btn-primary cart-btn" data-id="{{ item.product.id }}" data-action="increment">+</button>
                    </td>
                    <td>$ {{ item.get_total }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        
        
              <h4>Total Item: {{ order.get_cart_item }}</h4>
              <h4>Payable Total: $ {{ order.get_cart_total }}</h4>
        
        
              <a href="{% url 'cart' %}" class="btn btn-primary">Back to cart</a>
            {% else %}
        
            <h4>Your cart is empty!</h4>
            <a href="/" class="btn btn-primary">Continue shopping</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
